/* main.css */

html,

:root {
  --vw-lg: 1920px;
  --vw-md: 1366px;
  --vw-sm: 600px;
  --primary-color: #84aad4;
  --secondary-color: white;
  --accent-color-1: #CD7F32;
  --accent-color-2: #969696;
  --accent-color-3: hsl(150deg 30% 60%);
}

body {
  background-color: var(--primary-color);
  display: block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}
.grid main{
  display: grid;
}

/****** header ******/

header {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  text-align: center;
  padding: 20px 0;
  font-family: "Lato", bold;
  background: var(--accent-color-1);
}
* {
  padding: 0px;
}
#logo {
  margin-left: 1vw;
  float: left;
  height: 3vw;
}
/******* NavBar *******/
.navBar {
  grid-column: 2 / span 4;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
.navBar > a{
  float: none;
  color: #ffffff;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
}
.navBar a:hover{
  text-decoration: underline;
}
.navBar a:visited{
  color: #000000; 
}
/****** general **********/
section h2{
  font-size: 1.5vw;
}
hr {
  display: none;
}
main {
  margin: 1vw;
}

/****** home content ******/
#home_main {
  display:grid;
  margin: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
.title {
  display:flex;
  flex-direction: column;
  margin: 1vw;
  text-align: center;
}
.title h1{
  float:initial;
  font-size: 2vw;
}
.title h2{
  float:initial;
  font-size: 1.5vw;
}

.attendance{
  grid-row: 1;
  grid-column: 2;
}
.attendance ul{
  background-color: var(--accent-color-1);
  border: 8px double black;
  border-radius: 0.25pc;
  margin: 0 auto;
  padding: 15pt;
  text-align: left;
}
.brainstorming #subtitle{
  font-weight: bold;
  font-size: 1vw;
}
.brainstorming ol{
  background-color: var(--accent-color-1);
  border: 8px double black;
  border-radius: 4px;
  margin: 1vw;
  padding: 20px;
  text-align: left;
}

ul li {
  margin: 5px;
  font-weight: bold;
}
ol li {
  margin: 5px;
  font-weight: bold;
}
.urgent p{
  color: rgb(219, 0, 0);
  font-size: 2vw;
  font-weight: bold;
}
.last_meeting ul{
  background-color: var(--accent-color-1);
  border: 8px double black;
  border-radius: 0.25pc;
  margin: 0 auto;
  padding: 15pt;
  text-align: left;
}
.new_topics ul{
  background-color: var(--accent-color-1);
  border: 8px double black;
  border-radius: 0.25pc;
  margin: 0 auto;
  padding: 15pt;
  text-align: left;
}
section.summation p{
  background-color: var(--accent-color-1);
  border: 8px double black;
  border-radius: 0.25pc;
  margin: 0 auto;
  padding: 15pt;
  text-align: left;
  font-weight: bold;
}

/****** Contact Form *******/
.contact_main{
  padding: 20px;
  display:grid;
  margin: 1vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
}
.contactform{
  position: sticky;
  grid-row: 2;
  background-color: var(--secondary-color);
  margin-left: 2vw;
  grid-column: 2 / span 2;
  height: auto;
}
.contactform label{
  position: relative;
  font-weight: bold;
}
.contactform input[type = text], select, textarea{
  width: 100%;
  padding: 6px;
  grid-column: 2 / span 2;
  border: 1px solid var(--accent-color-1);
  border-radius: 6px;
  resize: vertical;
}
/***** Button *******/
.button{
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--accent-color-1);
  border-radius: 8px;
  outline: none;
}
.button:hover{
  text-decoration: underline;
  color:azure;
  background-color: #969696;
}
@media screen and (max-width: 800px){
  main{
    display:grid;
    margin-left: 1vw;
    margin-right: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
  }
  #home_main{
    display: flex;
    flex-direction: column;
  }
  #home_main h2 + h3{
    font-size: 5vw;
  }
  #home_main h3{
    font-size: 3vw;
  }
  #contact_frame{
    width: 100%;
    margin-left: 1vw;
    grid-column: 1;
    grid-row: 3;
  }
  .navBar a{
    float: none;
    display: none;
  }
  .title{
    display:none;
  }
  #hamburger{
    display: block;
  }
  #hamburger input{
    display: block;
  }
  .contactform{
    grid-column: 1 / span 3;
  }
  .contact_main > h3{
    display: none;
  }
  #notice{
    display: none;
  }
  .button{
    width: 60vw;
    height: 20vw;
  }
  header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px; 
  }
  img#logo {
    position: relative;
    grid-column: 2;
    margin: 10vw;
    margin-bottom: 5vw;
    width: 20vw;
    height: 20vw;
  }
}
/* a:link { color: #3366BB; }
a:visited { color: #663366 }
a:visited:hover { color: #0b0080; }
a:hover { color: gray; }
a:active { background-color: yellow; border: 4px solid red;} */


/****** footer ******/
footer {
  font-size: small;
  text-align: center;
}